:where([is="tree-view"], [is="tree-view"] [role="group"]) {
  list-style: none;
}

:where([is="tree-view"]) {
  padding-inline-start: 0;
}

:where([is="tree-view"] [role="group"]) {
  padding-inline-start: 1em;
}

:where(
  [is="tree-view"] [role="treeitem"]:not([aria-expanded]),
  [is="tree-view"] [role="treeitem"][aria-expanded] > :first-child
) {
  cursor: pointer;
  display: block;
  padding-block: 0.2em;
  padding-inline: 0.4em;
}

:where(
  [is="tree-view"] [role="treeitem"]:not([aria-expanded]):hover,
  [is="tree-view"] [role="treeitem"][aria-expanded="true"] > :first-child:hover
) {
  background-color: rgb(0 125 255 / 0.1);
}

:where(
  [is="tree-view"] :is(
    [aria-selected="true"]:not([aria-expanded]),
    [aria-selected="true"] > :first-child
  )
) {
  background-color: rgb(0 125 255 / 0.25);
}

:where([is="tree-view"] [aria-expanded]:focus-visible) {
  outline: 0;
}

:where(
  [is="tree-view"]:focus-visible,
  [is="tree-view"] [aria-selected="true"]:not([aria-expanded]):focus-visible,
  [is="tree-view"] [aria-selected="true"][aria-expanded="true"]:focus-visible > :first-child,
) {
  outline: 2px solid dodgerblue;
}

:where([is="tree-view"] [role="treeitem"][aria-expanded="false"] > [role="group"]) {
  display: none;
}
